<div class="alert alert-success" role="alert" [hidden]="isShowSuccess">
  <strong>success!</strong> {{isMsgText}} Successfully !!!
</div>
<div class="alert alert-danger" role="alert" [hidden]="isShowError">
  <strong>error!</strong> Please enter valid url !!!
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <!-- <th style="width: 10%">Sr. No.</th> -->
        <th style="width: 25%">Video</th>
        <th style="width: 25%">Tags</th>
        <th style="width: 15%">Time</th>
        <th style="width: 25%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArr | paginate: { itemsPerPage: 40, currentPage: p };let i = index;">
        <!-- <td>{{i+1}}</td> -->
        <td>
          <iframe [attr.src]="showPreview(data.url)" width="100" height="70" frameborder="0" allowfullscreen>
          </iframe>
        </td>
        <td>{{data.tags}}</td>
        <td>{{ifAvailable(data.time)}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="editVideo(data._id)">Edit</button>
          <button mat-raised-button color="primary" (click)="deleteVideo(data._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12 text-center my-pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
