<div class="container70">
  <div class="content-box">
    <div class="alert alert-success" role="alert" [hidden]="isShowSuccess">
      <strong>success!</strong> {{isMsgText}} Successfully !!!
    </div>
    <div class="alert alert-danger" role="alert" [hidden]="isShowError">
      <strong>error!</strong> Please enter valid url !!!
    </div>
    <form [formGroup]="videoForm">
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="txtUrl" placeholder="Youtube Url" value="" (blur)="showPreview(txtUrl.value)">
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-card class="video-card">
          <iframe id="videoPreview" [attr.src]="videoPreview" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </mat-card>
      </div>
      <div class="form-control">
          <span>Predefined Tags : {{buttonArr}}</span>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="txtKeyWords" placeholder="Keywords" value="">
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="txtTime" placeholder="Time" value="">
        </mat-form-field>
      </div>
      <div class="form-control">
        <button mat-raised-button [hidden]="isShow" color="primary" [disabled]="!videoForm.valid" type="button" (click)="submit(videoForm.value)">Save</button>
        <button mat-raised-button [hidden]="isUpdate" color="primary" type="button" (click)="update(videoForm.value, videoId)">Update</button>
        <button mat-raised-button color="primary" type="button" (click)="clearDetails()">Reset</button>
      </div>
    </form>
  </div>
</div>
